<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div class="topnav"><a></a>
      </div>
    <div class=" container card-columns login-container col-xs-4 " >

            <h2>Login</h2>
            <span style="color : red"> {{message}}</span>
        <form [formGroup]="loginForm" class="form-horizontal" (ngSubmit)="auth()">
            <div class="input-group" >
                <label for="Username">Username</label>
                <input type="text"
                        formControlName="Username"
                        name="Username"
                        [(ngModel)]="user.Username"
            class="form-control" />
                <!-- <div *ngIf="submitted && f.Username.errors" class="alert alert-danger">
                    <div *ngIf="f.Username.errors.required">Username is required</div>-->
                <div
                *ngIf="
                  f.Username.dirty &&
                  !f.Username.valid"
                class="alert alert-danger"
              >
              <p *ngIf="f.Username.errors.required">
                  Username is Must
                </p>
            </div>
          </div>
          <br />
            <div class="input-group">
                <label for="Password">Password</label>
                <input type="text"
                formControlName="Password"
                name="Password"
                [(ngModel)]="user.Password"
                 class="form-control" />

                <div
                *ngIf="
                  f.Password.dirty &&
                  !f.Password.valid"
                class="alert alert-danger"
              >
              <p *ngIf="f.Password.errors.required">
                  Password is Must
                </p>
            </div>

            <div class="input-group">
              <br/>
              <button [disabled]="!loginForm.valid" class="btn btn-warning" (click)="clear()">Clear</button>&nbsp;
                <button [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
            </div>
            </div>


        </form>
        </div>
</body>
</html>

